/* Estilos para la biografía con justificación completa del texto */
.bio {
  text-align: justify;
  text-justify: inter-word; /* Mejora la justificación para espaciar adecuadamente las palabras */
  padding: 0 20px; /* Agrega padding lateral para no tocar los bordes de la pantalla */
}

/* Aseguramos un diseño centralizado similar al de curriculum */
.services {
  text-align: center;
  padding: 20px;
  color: #000; /* Cambiamos el color de texto a negro */
}

.services-grid {
  display: flex;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Estilo de cada tarjeta en el área de servicios */
.service-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 220px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
}

.service-card:hover {
  transform: scale(1.05);
}

/* Icono de la tarjeta de servicios */
.service-icon {
  font-size: 36px;
  color: #2f2895;
  margin-bottom: 10px;
}

/* Título y texto de la tarjeta */
.service-card h3, .service-card p {
  color: #000;
}

/* Botón de cambio de idioma */
.change-language-button {
  background-color: #2f2895;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.change-language-button:hover {
  background-color: #1f1a65;
}

@media (max-width: 768px) {
  .services-grid {
      flex-direction: column;
  }

  .service-card {
      max-width: none;
      height: auto;
  }
}
