/* CONTACT FORM */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 90%; /* Ajusta el ancho para que sea más responsivo */
  margin: auto; /* Centrar el formulario horizontalmente */
  padding: 30px; /* Reducir padding para dispositivos más pequeños */
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

/* INPUTS Y TEXTAREA DEL FORMULARIO */
.contact input[type="email"],
.contact input[type="text"],
.contact textarea {
  width: 60%;
  padding: 10px; /* Consistent padding for all inputs and textarea */
  margin: 8px 0;
  font-size: 16px; /* Tamaño de fuente ajustado */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit; /* Ensure it inherits the font family of the form */
}

.contact textarea {
  resize: vertical; /* Allow vertical resize only, or remove this line to disable resizing */
}

/* BOTÓN DE ENVÍO */
.contact input[type="submit"] {
  cursor: pointer;
  padding: 15px 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px; /* Ajustado para que no sea muy grande en móvil */
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #2f2895;
  transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
  background-color: #1f1a65;
}

/* MEDIA QUERIES PARA DISPOSITIVOS MÓVILES */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
    margin-top: calc(var(--header-height) + 20px); /* Evita la superposición con el header */
    font-size: 16px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    padding: 15px;
    font-size: 16px; /* Tamaño reducido para evitar que ocupe demasiado espacio */
  }

  .contact input[type="submit"] {
    font-size: 18px; /* Ajuste de tamaño para mejor visualización */
    padding: 12px 20px;
  }
}

/* MEDIA QUERIES PARA TABLET */
@media (min-width: 769px) and (max-width: 1024px) {
  .contact {
    max-width: 500px; /* Ajustar el tamaño para tablet */
    padding: 40px; /* Un padding un poco más generoso en tablet */
  }
}