/* CONTACT FORM */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 400px;
  margin: 20px auto;
  padding: 50px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.contact input[type="email"],
.contact input[type="text"],
.contact textarea {
  width: 100%;
  padding: 10px; /* Consistent padding for all inputs and textarea */
  margin: 8px 0;
  font-size: 20px; /* Consistent font size for all inputs and textarea */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit; /* Ensure it inherits the font family of the form */
}

.contact textarea {
  resize: vertical; /* Allow vertical resize only, or remove this line to disable resizing */
}

.contact input[type="submit"] {
  cursor: pointer;
  padding: 15px 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #2f2895;
  transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
  background-color: #1f1a65;
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
  .contact {
    padding: 20px;
    font-size: 16px;
  }

  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    padding: 15px;
    font-size: 18px;
  }

  .contact input[type="submit"] {
    font-size: 20px;
    padding: 12px 25px;
  }
}
