/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;   
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-left: 20px; */
  background-color: rgba(15, 10, 76, 0.8);
  color: white;
  position: fixed;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 142px;
  padding: 0; /* Optional: Adjust padding as needed */
}

.header .logo h3 {
  font-size: 22px;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.header nav ul li {
  font-size: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.header .active,
.header nav ul li a:hover {
  color: #71ffde;
  font-size: 26px;
}

/* Media query para dispositivos móviles (formato columna) */
@media (max-width: 799px) {
  .header {
      flex-direction: column;
      align-items: center;
  }

  .header .logo {
      margin-bottom: 10px;
      text-align: center;
  }

  .header nav ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 0;
  }

  .header nav ul li {
      margin: 2px 0;
      font-size: 18px;
  }

  .header .logo h3 {
      font-size: 20px;
  }
}

/* Media query para tablets (menú en formato horizontal en dos filas) */
@media (min-width: 800px) and (max-width: 1024px) {
  .header nav ul {
      display: flex;
      flex-wrap: wrap; /* Allows items to wrap into the next line */
      gap: 10px;
      justify-content: center; /* Center all elements */
      padding: 0;
      width: 100%; /* Ensure the nav takes the full available width */
  }

  .header nav ul li {
      flex: 1 1 45%; /* Each list item takes roughly half the width */
      text-align: center;
  }

  /* If there are 5 items, ensure the last one is centered */
  .header nav ul li:nth-child(5) {
      flex-basis: 100%; /* Forces the fifth item to occupy full width */
      text-align: center;
  }
}
