.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 80vh;
  background-color: #f2f4f8;
}

.project-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 900px;
}

.project-mask {
  display: flex;
  justify-content: center;
  height: 180px;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}


.project-image:hover {
  transform: scale(1.03);
}

.project-title {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 38px;
  color: #2f2895;
  margin-bottom: 15px;
}

.project-technologies {
  text-align: center; /* Center text */
  margin: 10px 0; /* Add margin for spacing */
  color: black;
  font-style: italic;
  font-size: 18px;
}

.project-image{
  width: 360px;
}

.project-text {
  text-align: justify;
  justify-content: center;
  font-size: 18px;
  color: #444;
  margin: 10px 0px 20px 0px;
}

.project-process-title,
.project-objectives-title{
  font-size: 30px;
  margin: 30px 0px 10px 0px;
}

.project-objectives-principal{
  font-size: 20px;
  margin: 0 auto;
}
.project-objectives-secondaries{
  font-size: 20px;
}

.project-process-text{
  margin: 0 auto;
  text-align: justify;
  justify-content: center;
  font-size: 20px;
}

.project-link {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #1f1a65;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.project-link:hover {
  background-color: #1b174f;
  transform: scale(1.05);
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.project-table th, .project-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: #333;
}

.project-table th {
  background-color: #f8f8f8;
}

.project-table-row {
  background-color: #f9f9f9;
}

.project-table-row:hover {
  background-color: #f1f1f1;
}

.project-progress-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto;
  height: 30px;
  width: 80%;
  align-self: center; /* Center horizontally */
}

.project-progress {
  background-color: #4caf50; /* Green color for the progress bar */
  height: 100%;
  text-align: center;
  line-height: 30px; /* Centers text vertically */
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: width 0.3s ease;
}


@media (max-width: 768px) {
  .project-page {
    padding: 20px 10px;
  }

  .project-card {
    padding: 20px;
    max-width: 100%;
  }

  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-technologies {
    font-size: 16px;
  }

  .project-text,
  .project-process-text,
  .project-objectives-principal,
  .project-objectives-secondaries {
    font-size: 16px;
    margin: 10px 15px;
  }

  .project-mask {
    height: 300px; /* Adjust height to auto to accommodate different image ratios */
  }

  .project-image {
    max-width: 100%;
    height: auto;
  }

  .project-progress-container {
    height: 20px;
    width: 90%;
  }

  .project-progress {
    font-size: 14px;
    line-height: 20px;
  }

  .project-link {
    font-size: 14px;
    padding: 10px 20px;
  }
}

