.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 80vh;
  background-color: #f2f4f8;
}

.project-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  text-align: left;
  color: #333;
}

.project-mask {
  display: flex;
  justify-content: center;
  height: 180px;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}


.project-image:hover {
  transform: scale(1.03);
}

.project-title {
  font-size: 28px;
  color: #2f2895;
  margin-bottom: 15px;
}

.project-technologies{
  font-style: italic;
  font-size: 18px;
}

.project-image{
  width: 360px;
}

.project-text {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.project-link {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #1f1a65;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.project-link:hover {
  background-color: #1b174f;
  transform: scale(1.05);
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.project-table th, .project-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: #333;
}

.project-table th {
  background-color: #f8f8f8;
}

.project-table-row {
  background-color: #f9f9f9;
}

.project-table-row:hover {
  background-color: #f1f1f1;
}

.project-progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.project-progress {
  height: 20px;
  border-radius: 5px;
  background-color: #4CAF50;  /* A green color to represent progress */
  text-align: center;
  line-height: 20px; /* Center text vertically */
  color: white;
  transition: width 0.4s ease;
}

