/* src/components/SkillList.css */

.skill-list {
    text-align: center;
    margin-top: 10px;
  }
  
  .toggle-button {
    background-color: #2f2895;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #1f1a65;
  }
  
  .skills {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    transition: max-height 0.3s ease;
  }
  
  .skill-item {
    padding: 5px 0;
  }
  