.social-network {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 0;
}

.social-link {
  position: relative; /* Make the parent relative to position the tooltip */
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center align items */
  color: #333;
  font-size: 18px; /* Adjust text font size as needed */
  text-decoration: none;
  transition: color 0.3s;
}

.social-link span {
  text-align: center;
}

.social-link:hover {
  color: white;
}

.social-icon {
  font-size: 44px; /* Icon size, adjust as needed */
  margin-bottom: 8px; /* Spacing between icon and text */
}

.linkedin {
  color: #0a66c2; /* LinkedIn specific color */
}

.gmail {
  color: #d14836; /* Gmail specific color */
}

/* Tooltip styles */
.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%; /* Positions the tooltip below the parent element */
  left: 100%; /* Centers the tooltip horizontally */
  transform: translateX(-5%); /* Centers the tooltip */
  transform: translateY(50%); /* Centers the tooltip */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1; /* Ensure the tooltip appears above other elements */
}

.social-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 799px) {
  .social-network {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
